html, body, header, section, aside, footer, div, p, h1, h2, h3, h4, h5, h6, ul, ol, li {
    margin: 0;
    padding: 0;
}
html, body {
    width: 100%;
    height: 100%;
    font-family: "微软雅黑", Arial, "Microsoft Yahei";
    font-size: 16px;
    color: #666666;
}
a {
    display: inline-block;
    text-decoration: none;
}
img {
    display: block;
    border: none;
}
ul, ol, li {
    list-style: none;
}
input, button, textarea, select {
    box-sizing: border-box;
    border: 0;
    outline: 0;
    margin: 0;
    padding: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    border-radius: 2px;
    font-family: Arial, "Microsoft Yahei";
}
button:disabled {
    background-color: #B4B4B4;
    cursor: not-allowed;
}
input:focus, select:focus, textarea:focus {
    border: 1px solid #565656;
    border-radius: 0;
}
.container {
    width: 90%;
    margin: 0 auto;
    overflow: hidden;
}
.lt {
    float: left;
}
.rt {
    float: right;
}
.clear::after {
    display: block;
    content: "";
    clear: both;
}
.wrapper {
    width: 100%;
    height: 100%;
    /*min-width: 1366px;*/
    overflow: hidden;
    position: relative;
}

/***** 侧边主目录栏 *****/
.siderbar-menu {
    width: 15%;
    height: 100%;
    background-color: #f5f5f5;
    position: relative;
}
.siderbar-menu > .container {
    width: 100%;
    height: 100%;
}
.profile-entrance {
    width: 110px;
    height: 110px;
    border-radius: 50%;
    margin: 25px auto;
    background-color: #fff;
    background-image: url(img/logo.png);
    background-repeat: no-repeat;
    background-position: center;
}
.menu-container {
    margin-bottom: 30px;
}
.menu-item, .sign-out {
    display: block;
    height: 50px;
    line-height: 50px;
    font-size: 20px;
}
.menu-item-container {
    width: 110px;
    height: 50px;
    margin: 0 auto;
    text-align: left;
}
.menu-link {
    width: 100%;
    background-repeat: no-repeat;
    background-position: left 5px center;
    background-size: 20px;
    color: #666666;
    padding-left: 35px;
}
.menu-link.active {
    color: #c30d23;
}
.menu-guests {
    background-image: url(img/guests.png);
}
.menu-guests.active {
    background-image: url(img/guests2.png);
}
.menu-exhibitor {
    background-image: url(img/exhibitor.png);
}
.menu-exhibitor.active {
    background-image: url(img/exhibitor2.png);
}
.menu-program {
    background-image: url(img/meeting.png);
}
.menu-program.active {
    background-image: url(img/meeting2.png);
}
.menu-about {
    background-image: url(img/user.png);
}
.menu-about.active {
    background-image: url(img/user2.png);
}

/***** 中间名录列表栏 *****/
.users {
    position: relative;
    width: 35%;
    height: 100%;
    background-color: #FBFBFB;
    overflow: hidden;
}
.users-tab {
    box-sizing: border-box;
    height: 40px;
    text-align: center;
    background-color: #fff;
    border-bottom: 1px solid #f5f5f5;
}
.search-switch, .filter-switch {
    display: inline-block;
    width: 50px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
}
.search-switch {
    background: url(img/icon-search.png) center no-repeat;
}
.tab-item {
    display: inline-block;
    width: 110px;
    height: 38px;
    line-height: 38px;
    border-bottom: 2px solid transparent;
    cursor: pointer;
}
.tab-item.active {
    color: #c30d23;
    border-bottom-color: #c30d23;
}
    /** 嘉宾默认列表和收藏列表 **/
.userList {
    height: -webkit-calc(100% - 40px);
    height: -moz-calc(100% - 40px);
}

.userList-item {
    position: relative;
    height: 100%;
    display: none;
}
.userList-item.active {
    display: block;
}
.letter-nav {
    position: absolute;
    width: 20px;
    top: 30px;
    right: 0;
    text-align: center;
    display: none;
}
.letter-item {
    display: block;
    height: 20px;
    line-height: 20px;
    color: #328bc7;
    font-size: 12px;
}
.user-list-container {
    height: 100%;
    overflow: hidden;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}
.letter-divide {
    font-size: 12px;
    height: 20px;
    line-height: 20px;
    padding: 0 5%;
    font-weight: normal;
}
.user-item {
    padding: 15px 0;
    background-color: #fff;
    border-bottom: 1px solid #f5f5f5;
}
.user-item:last-child {
    border-bottom: 0;
}
.user-photo {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}
.user-photo > img {
    width: 100%;
    border-radius: 50%;
}
.user-intro {
    width: -webkit-calc(100% - 60px);
    width: -moz-calc(100% - 60px);
    overflow: hidden;
}
.user-name, .user-job, .user-company, .exhibitor-tag, .exhibitor-booth {
    width: 100%;
    height: 20px;
    line-height: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.user-name {
    font-size: 16px;
    font-weight: normal;
    color: #191919;
}
.user-job, .user-company, .exhibitor-tag, .exhibitor-booth {
    font-size: 14px;
}
.exhibitor-tag span {
    display: inline-block;
    height: 20px;
    font-size: 12px;
    line-height: 20px;
    padding: 0 15px;
    background-color: #FFF5F5;
    color: #c30d23;
    border-radius: 15px;
    /* margin: 0 10px 10px 0; */
    margin-right: 10px;
}
.exhibitor-booth {
    box-sizing: border-box;
    padding-left: 20px;
    font-size: 12px;
    color: #7D7D7D;
    background: url(img/icon-site.png) left center no-repeat;
    background-size: auto 15px;
    margin: 5px 0;
}
.arrow {
    position: relative;
    height: 20px;
    line-height: 20px;
    cursor: pointer;
}
.arrow::after {
    position: absolute;
    display: block;
    content: "";
    top: 0;
    left: 50%;
    width: 8px;
    height: 8px;
    border: 1px solid transparent;
    border-left-color: #B3B3B3;
    border-bottom-color: #B3B3B3;
    margin: 5px auto;
    transform: translateX(-50%) rotate(-45deg);
}
.arrow.active::after {
    transform: translateX(-50%) rotate(135deg);
}
.btn-group {
    text-align: center;
    margin: 15px 0 10px;
}
.arrow + .btn-group {
    display: none;
}
.btn {
    display: inline-block;
    width: 120px;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    border-radius: 20px;
    cursor: pointer;
}
.btn-star {
    margin-right: 10px;
    background-color: #fff;
    color: #c30d23;
    border: 1px solid #c30d23;
}
.btn-msg {
    background-color: #c30d23;
    color: #fff;
}
.btn-unstar {
    background-color: #EDEDED;
    color: #A4AAB3;
    margin-right: 10px;
}
.arrow.active + .btn-group {
    display: block;
}

/***** 搜索 *****/
.search {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 10;
    display: none;
}
.search-bar {
    box-sizing: border-box;
    width: 90%;
    height: 80px;
    margin: 0 auto;
    padding: 20px 0;
    text-align: center;
}
/* .back-arrow {
    width: 10px;
    height: 10px;
    border: 1px solid transparent;
    border-left-color: #333333;
    border-bottom-color: #333333;
    transform: rotate(45deg);
    margin-top: 14px;
    cursor: pointer;
} */
.back-arrow {
    position: relative;
    width: 15px;
    height: 40px;
    cursor: pointer;
}
.back-arrow::after {
    position: absolute;
    display: block;
    content: "";
    top: 13px;
    width: 12px;
    height: 12px;
    border: 1px solid transparent;
    border-left-color: #333333;
    border-bottom-color: #333333;
    transform: rotate(45deg);
}
.btn-search {
    width: 70px;
    border-radius: 5px;
    background-color: #c30d23;
    color: #fff;
    margin-top: 5px;
}
.search-input {
    width: calc(100% - 100px);
    width: -webkit-calc(100% - 100px);
    width: -moz-calc(100% - 100px);
    height: 40px;
    border: 1px solid #EDEDED;
    padding: 0 10px 0 30px;
    background: url(img/icon-search.png) left 5px center no-repeat;
}
.search-input:focus {
    border-color: #EDEDED;
}
.search-list {
    height: calc(100% - 80px);
    height: -webkit-calc(100% - 80px);
    height: -moz-calc(100% - 80px);
    overflow: hidden;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}

/***** 筛选 *****/
.filter {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 10;
    display: none;
}
.filter-tab {
    box-sizing: border-box;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-bottom: 1px solid #f5f5f5;
}
.filtertab-item {
    display: inline-block;
    width: 32%;
    cursor: pointer;
}
.point {
    display: inline-block;
    vertical-align: middle;
    width: 5px;
    height: 5px;
    background-color: #fff;
    border-radius: 50%;
}
.filtertab-itemtext {
    margin-right: 10px;
}
.filtertab-item.on .point {
    background-color: #c30d23;
}
.filtertab-item.active .filtertab-itemtext {
    color: #c30d23;
}
.filtertab-item.active .arrow::after {
    transform: translateY(5px) rotate(135deg);
    border-left-color: #c30d23;
    border-bottom-color: #c30d23;
}
.filter-wrapper {
    position: relative;
    height: calc(100% - 40px);
    height: -webkit-calc(100% - 40px);
    height: -moz-calc(100% - 40px);
}
.filter-item {
    height: calc(100% - 70px);
    height: -webkit-calc(100% - 70px);
    height: -moz-calc(100% - 70px);
    overflow: hidden;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    display: none;
}
.filter-item.active {
    display: block;
}
.filter-category {
    width: 120px;
    height: 100%;
    background-color: #F2F3F5;
}
.filter-category-tab {
    display: block;
    height: 50px;
    line-height: 50px;
    font-size: 15px;
    text-align: center;
    border-bottom: 1px solid #EDEDED;
    cursor: pointer;
}
.filter-category-tab.active {
    background-color: #fff;
}
.filter-category-content {
    width: calc(100% - 120px);
    width: -webkit-calc(100% - 120px);
    width: -moz-calc(100% - 120px);
    height: 100%;
    overflow: hidden;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}
.filter-category-content::-webkit-scrollbar {
    display: none;
}
.filter-category-item {
    display: none;
}
.filter-category-item.active {
    display: block;
}
.filter-label {
    display: block;
    padding: 10px 0;
    border-bottom: 1px solid #EDEDED;
    cursor: pointer;
}
.filteroption-text {
    font-size: 14px;
    line-height: 20px;
}
.filter-checkbox {
    display: none;
}
.filter-checkbox + i {
    position: relative;
    width: 12px;
    height: 12px;
    margin-top: 4px;
    border: 1px solid #B5BAC1;
}
.filter-checkbox:checked + i::after {
    position: absolute;
    display: block;
    content: "";
    top: -2px;
    left: 3px;
    width: 4px;
    height: 9px;
    border-right: 2px solid #c30d23;
    border-bottom: 2px solid #c30d23;
    transform: rotate(40deg);
}
.filter-btn {
    box-sizing: border-box;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 70px;
    padding: 20px;
    text-align: center;
    border-top: 1px solid #f5f5f5;
}
.btn-reset {
    background-color: #fff;
    border: 1px solid #c30d23;
    color: #c30d23;
}
.btn-filter {
    background-color: #c30d23;
    color: #fff;
}

/***** 侧边信息栏 *****/
.siderbar-infos {
    position: relative;
    width: 50%;
    height: 100%;
    background-color: #ebeffa;
}
.m-star-bar {
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 40px;
    padding: 0 5%;
    background-color: #fff;
    z-index: 20;
    /* display: none; */
}
.close-info::after {
    border-left-width: 2px;
    border-bottom-width: 2px;
    /* border-left-color: #fff;
    border-bottom-color: #fff; */
}
.star {
    width: 40px;
    height: 40px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 20px;
    cursor: pointer;
}
.star.active {
    background-image: url(img/star-red.png);
}
.star-attends, .star-exhibitor {
    background-image: url(img/star-black.png);
}
.m-star-bar-title {
    width: 100%;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 16px;
    font-weight: normal;
    color: #191919;
}
.user-infomation {
    box-sizing: border-box;
    width: 100%;
    height: calc(100% - 80px);
    height: -webkit-calc(100% - 80px);
    height: -moz-calc(100% - 80px);
    padding-top: 40px;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}
.infomation-list {
    width: 100%;
    overflow: hidden;
}
.infomation-item {
    box-sizing: border-box;
    width: 100%;
    padding: 20px 5%;
    margin-bottom: 10px;
    background-color: #fff;
}
.photo-item {
    padding: 0;
    /* height: 300px; */
    /* background: url(img/photo-bg.png) 0 0 no-repeat, linear-gradient(to bottom, yellow 50%, pink 100%); */
    /* background: url(img/photo-bg.png) 0 0 no-repeat, linear-gradient(to bottom, white 50%, white 100%);
    background-repeat: no-repeat;
    background-size: 100% 50%, 100% auto; */
}
.photo-item-bg {
    width: 100%;
    height: 100px;
    min-height: 100px;
    overflow: hidden;
}
.photo-item-bg > img {
    width: 100%;
    height: auto;
}
.infomation-photo {
    width: 85px;
    height: 85px;
    margin: -45px auto 0;
}
.photo-img {
    width: 100%;
    border-radius: 100%;
}
.user-attribute {
    margin: -30px 0 0 70px;
    white-space: nowrap;
    font-size: 12px;
}
.user-sex {
    display: inline-block;
    vertical-align: middle;
    width: 25px;    
}
.user-tag {
    display: inline-block;
    line-height: 20px;
    padding: 0 8px;
    border-radius: 10px;
    color: #fff;
    background-color: #F18828;
}
.infomation-info {
    box-sizing: border-box;
    text-align: center;
    margin: 10px 0 0;
    padding: 0 5% 20px;
}
.user-language {
    font-size: 14px;
    margin-top: 10px;
}
.language-tag {
    display: inline-block;
    vertical-align: middle;
    margin: -2px 0 0 5px;
    padding: 2px;
    font-size: 12px;
    color: #c30d23;
    background-color: #FFF5F5;
    border-radius: 100%;
}
.infomation-item-title {
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #191919;
    margin-bottom: 10px;
    padding-left: 10px;
    border-left: 2px solid #c30d23;
}
.user-desc {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    height: 80px;
    font-size: 15px;
    line-height: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.user-desc.expanded {
    display: block;
    height: auto;
}
.infomation-contact-item {
    box-sizing: border-box;
    height: 40px;
    line-height: 40px;
    padding: 0 10px;
    font-size: 15px;
    border-bottom: 1px solid #f5f5f5;
}
.infomation-contact-item:last-child {
    border-bottom: 0;
}
.attend-item {
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #B4B4B4;
}
.attend-item:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: 0;
}
.attend-item-title {
    font-size: 15px;
    /* font-weight: normal; */
    margin-bottom: 10px;
    color: #191919;
}
.attend-item-time, .attend-item-site {
    font-size: 14px;
    line-height: 20px;
    padding-left: 25px;
    background-size: auto 20px;
    background-repeat: no-repeat;
    background-position: left center;
}
.attend-item-time {
    background-image: url(img/icon-time.png);
    margin-bottom: 5px;
}
.attend-item-site {
    background-image: url(img/icon-site.png);
}
.past-item {
    margin-bottom: 20px;
}
.past-item:last-child {
    margin-bottom: 0;
}
.past-item:last-child .past-right {
    border-bottom: 0;
}
.past-left, .past-right {
    display: inline-block;
    vertical-align: top;
}
.past-left {
    width: 210px;
    margin-right: 10px;
}
.past-left > img {
    width: 100%;
}
.past-right {
    width: calc(100% - 225px);
    width: -webkit-calc(100% - 225px);
    width: -moz-calc(100% - 225px);
    min-height: 150px;
    padding-bottom: 20px;
    border-bottom: 1px solid #f5f5f5;
}
.past-item-category {
    font-size: 16px;
    color: #191919;
    margin-bottom: 10px;
}
.past-item-title {
    font-size: 15px;
    font-weight: normal;
    line-height: 20px;
    color: #191919;
}

.button-container {
    box-sizing: border-box;
    height: 80px;
    padding: 20px 0;
    text-align: center;
    background-color: #fff;
}
.btn-large {
    width: 100%;
    height: 40px;
    line-height: 40px;
    font-size: 16px;
}


/***** 关注权限弹窗 *****/
.starDialog {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    display: none;
}
.starDialog-bg {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}
.starDialog-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 310px;
    /* height: 155px; */
    background-color: #fff;
    box-shadow: 1px 1px 50px rgba(0,0,0,.3);
}
.starDialog-close {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    font-size: 30px;
    text-align: center;
    line-height: 20px;
    cursor: pointer;
}
.starDialog-title {
    box-sizing: border-box;
    height: 45px;
    background-color: #F8F8F8;
    border-bottom: 1px solid #eeeeee;
    padding: 0 20px;
    font-size: 14px;
    color: #333333;
    line-height: 44px;
    font-weight: normal;
}
.starDialog-desc {
    box-sizing: border-box;
    font-size: 14px;
    line-height: 20px;
    padding: 20px;
}
.closeStarDialog {
    display: inline-block;
    height: 30px;
    margin: 0 auto 20px;
    padding: 0 15px;
    line-height: 30px;
    text-align: center;
    background-color: #003a8c;
    color: #fff;
    cursor: pointer;
}
.buy-ticket, .cancelStarDialog {
    display: inline-block;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
}
.buy-ticket {
    padding: 0 10px;
    color: #c30d23;
}
.cancelStarDialog {
    background-color: #c30d23;
    color: #fff;
    width: 80px;
    cursor: pointer;
}