/* **** 设置 **** */
.setting {
    position: relative;
    width: 640px;
    height: 100%;
    margin: 0 auto;
    background-color: #f5f5f5;
}
.setting-top {
    box-sizing: border-box;
    height: 40px;
    padding: 0 5%;
    text-align: center;
    background-color: #fff;
    border-bottom: 1px solid #f5f5f5;
}
.back-link {
    width: 50px;
    height: 40px;
}
.setting-title {
    font-size: 18px;
    font-weight: normal;
    color: #191919;
    line-height: 40px;
}
.setting-body {
    width: 100%;
    height: calc(100% - 40px);
    height: -webkit-calc(100% - 40px);
    height: -moz-calc(100% - 40px);
    overflow: hidden;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}
.setting-list {
    width: 100%;
    overflow: hidden;
    margin-bottom: 10px;
}
.setting-item {
    padding: 15px 5%;
    background-color: #fff;
    border-bottom: 1px solid #f5f5f5;
}
.setting-checkbox {
    display: none;
}
.setting-item-text {
    width: 150px;
    /* max-width: 150px; */
    font-size: 15px;
    line-height: 20px;
    color: #191919;
    margin-right: 10px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.setting-label {
    width: 55px;
    height: 30px;
}
.setting-checkbox + i {
    display: block;
    position: relative;
    box-sizing: border-box;
    width: 55px;
    height: 30px;
    background-color: #B4B4B4;
    border-radius: 20px;
    cursor: pointer;
}
.setting-checkbox + i::after {
    position: absolute;
    top: 1px;
    left: 1px;
    display: block;
    content: "";
    width: 28px;
    height: 28px;
    background-color: #fff;
    border-radius: 100%;
}
.setting-checkbox:checked + i {
    background-color: #C30F23;
}
.setting-checkbox:checked + i::after {
    left: unset;
    right: 1px;
}
.setting-tip {
    margin: 5px 0;
    padding: 0 5%;
    font-size: 12px;
    color: #929292;
}
.go-arrow {
    width: 15px;
}
.go-arrow::after {
    transform: rotate(-135deg);
    left: 0;
}
.setting-val {
    width: calc(100% - 185px);
    width: -webkit-calc(100% - 185px);
    width: -moz-calc(100% - 185px);
    font-size: 14px;
    line-height: 20px;
    color: #5B5B5B;
    text-align: right;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    cursor: pointer;
}
.login-out {
    box-sizing: border-box;
    display: block;
    width: 150px;
    height: 40px;
    margin: 50px auto 0;
    text-align: center;
    font-size: 16px;
    line-height: 38px;
    color: #C30F23;
    text-decoration: none;
    border: 1px solid #C30F23;
    border-radius: 20px;
}

/* **** 语言选择 **** */
.change-item {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    display: none;
}
.change-item.active {
    display: block;
}
.change-bg {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}
.change-content {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300px;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border-radius: 10px;
}
.change-item-title {
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 16px;
    font-weight: normal;
    color: #191919;
    border-bottom: 1px solid #f5f5f5;
}
.change-label {
    box-sizing: border-box;
    display: block;
    width: 100%;
    height: 40px;
    font-size: 14px;
    line-height: 40px;
    padding: 0 20px;
}
.change-radio {
    display: none;
}
.change-radio:checked + span {
    color: #C30F23;
}
.change-radio:checked ~ i {
    width: 5px;
    height: 10px;
    border-bottom: 2px solid #C30F23;
    border-right: 2px solid #C30F23;
    transform: rotate(45deg);
    margin-top: 12px;
}
.btn-group {
    width: 100%;
    height: 40px;
    font-size: 0;
    margin: 0;
    border-top: 1px solid #f5f5f5;
}
.btn-cancel, .btn-confirm {
    width: 50%;
    height: 100%;
    border-radius: 0;
    background-color: #fff;
}
.btn-cancel {
    margin-right: 0;
    border-bottom-left-radius: 10px;
    border-right: 1px solid #f5f5f5;
}
.btn-confirm {
    color: #C30F23;
    border-bottom-right-radius: 10px;
}

/* **** 修改登录手机 **** */
.change-bar {
    box-sizing: border-box;
    height: 40px;
    padding: 0 5%;
    text-align: center;
    background-color: #fff;
}
.back-arrow {
    position: relative;
    width: 15px;
    height: 40px;
    cursor: pointer;
}
.change-bar-title {
    font-size: 18px;
    font-weight: normal;
    color: #191919;
    line-height: 40px;
}
.change-item-body {
    box-sizing: border-box;
    height: calc(100% - 40px);
    height: -webkit-calc(100% - 40px);
    height: -moz-calc(100% - 40px);
    padding-top: 50px;
    overflow: hidden;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    background-color: #fff;
}
.form-group {
    overflow: hidden;
    margin-bottom: 15px;
    padding: 0 5%;
    min-height: 20px;
}
.form-input {
    width: 100%;
    height: 40px;
    border-bottom: 1px solid #EEEEEE;
}
.form-input:focus {
    border: 0;
    border-bottom: 1px solid #565656;
}
.valicode-input {
    width: 72%;
}
.getValicode {
    width: 25%;
    height: 40px;
    background-color: #C30F23;
    color: #fff;
}
.form-tips {
    color: #C30F23;
    font-size: 12px;
    line-height: 20px;
    display: none;
}
.btn-changemobile, .btn-changeemail {
    display: block;
    width: 90%;
    height: 40px;
    background-color: #C30F23;
    color: #fff;
    margin: 50px auto 0;
}